@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  @apply font-sans text-gray-800 bg-gray-50 overflow-x-hidden;
}

a {
  @apply text-indigo-600 hover:text-indigo-800 transition-colors;
}
